body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: #f4f4f4;
}

#clock {
    font-size: 2rem;
    margin: 20px;
    color: #333;
}

#calendar {
    font-size: 1.2rem;
    color: #333;
}
